* {
 
    box-sizing: border-box;
}
body{
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
#container {
    margin-top:100px;
    width: 600px;
    max-height: 300px;
    box-shadow: 5px 5px 15px 5px #000000;
    background-color: white;
}
.form-group {
    margin:15px;
}
.card-title {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color:#ccc;
    text-shadow: 3px 3px 7px #000;
}
.btn {
    box-shadow: 3px 3px 10px 3px #000000;
}
.btn:hover {
    box-shadow: 5px 5px 15px 5px #666;
}
.bg-warning {
    padding: 10px;
    color: white;
    border: 3px solid orangered;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}
